Assignment1/Schemas/XSDFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="https://www.w3schools.com"
            xmlns="https://www.w3schools.com"
            elementFormDefault="qualified" >
 
    <!--  essential complex types  -->
    <!-- authors  -->
    <xs:complexType name="authors">
        <xs:sequence>
            <xs:element name="author" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- authors  -->
    <xs:complexType name="editors">
        <xs:sequence>
            <xs:element name="editor" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- end of the essential complex type -->
    
     <!-- Scientific Dep -->
        <xs:complexType name="department_scientific">
            <xs:sequence>
                <xs:element name="books"    minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="book" type="book_scientific"  minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="journals"    minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="journal" type="journal_scientific" minOccurs="1" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


            </xs:sequence>
            <xs:attribute name="category" fixed="scientific" ></xs:attribute>
        </xs:complexType>
    <!-- End of the Scientific Dep -->


    <!--Complex Element concerning the scientific book  -->
    <xs:complexType name="book_scientific">
        <xs:sequence>
            <xs:element name="title" type="xs:string"></xs:element>
            <xs:choice>   <!-- Authors or editors  -->
                <xs:element name="authors" type="authors" minOccurs="1" maxOccurs="1"></xs:element>
                <xs:element name="editors" type="editors" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:choice>
            <xs:element name="publisher" type="xs:string" minOccurs="1"></xs:element>
            <xs:element name="year" type="xs:date"  minOccurs="1"></xs:element>
            
            <xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="edition" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="ISBN" type="xs:integer" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- end of the scientific book  complex element-->


    <!--Complex Element concerning the scientific Journal  -->
    <xs:complexType name="journal_scientific">
        <xs:sequence>
            <xs:element name="title" type="xs:string"></xs:element>
            <xs:element name="volume" type="xs:integer" minOccurs="1"></xs:element>
            <xs:element name="number" type="xs:integer" minOccurs="1"></xs:element>
            <xs:choice>
                <!-- Authors or editors  -->
                <xs:element name="authors" type="authors" minOccurs="1" maxOccurs="1"></xs:element>
                <xs:element name="editors" type="editors" minOccurs="1" maxOccurs="1"></xs:element>

                <xs:element name="editor" type="xs:string" minOccurs="1" maxOccurs="unbounded"></xs:element>
             </xs:choice>

            <xs:element name="year" type="xs:date"  minOccurs="1"  maxOccurs="unbounded"></xs:element>

            <xs:element name="publisher" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <!--  If impact factor is included then it must accompanied with the year  -->
                 <xs:element name="impactFactor" type="impact_factor"  minOccurs="0"  maxOccurs="1"></xs:element>
           
            <xs:element name ="articles" type="articles"></xs:element>

        </xs:sequence>
    </xs:complexType>
    <!-- The article of the journal-->
    <xs:complexType name="article_scientific">
        <xs:sequence>
            <xs:element name="title" type="xs:string"  minOccurs="1"  maxOccurs="1"></xs:element>
            <xs:element name="authors" type="authors" minOccurs="1"  maxOccurs="1"></xs:element>
            <xs:choice>
             <xs:element name="pages" type="page" minOccurs="1" maxOccurs="1"></xs:element>
             <xs:element name="number" type="xs:integer" minOccurs="1" maxOccurs="1"></xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="page">
        <xs:sequence>
             <xs:element name="start" type="xs:integer" minOccurs="1" maxOccurs="1"></xs:element>
            <xs:element name="end" type="xs:integer" minOccurs="1" maxOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="articles">
        <xs:sequence>
            <xs:element name ="article" type="article_scientific" minOccurs="1" maxOccurs="unbounded"> </xs:element>
        </xs:sequence>
    </xs:complexType>
    <!-- End of the article of the journal -->
    
    <!-- Impact Factor  -->
    <xs:complexType name="impact_factor">
        <xs:sequence>
            <xs:element name="factor" type="xs:float" > </xs:element>
            <xs:element name="year" type="xs:integer"> </xs:element>
         </xs:sequence>
    </xs:complexType>
    <!--  End of the impact factor complex type  -->
    <!-- end of the scientific journal  complex element-->

    <!-- leisur Dep -->
    <xs:complexType name="department_leisure">
        <xs:sequence>
            <xs:element name="books" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="book" type="book_leisure" minOccurs="1" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="periodicals" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="periodical" type="periodicals" minOccurs="1" maxOccurs="unbounded"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
        <xs:attribute name="category" fixed="leisure" ></xs:attribute>
    </xs:complexType>
    <!-- End of the leisure Dep -->


    <!--Complex Element concerning the leisure book  -->
    <xs:complexType name="book_leisure">
        <xs:sequence>
            <xs:element name="title" type="xs:string"></xs:element>
            <xs:choice>
                <!-- Author or editor  -->
                <xs:element name="authors" type="authors" minOccurs="1" maxOccurs="unbounded"></xs:element>
                <xs:element name="editors" type="editors" minOccurs="1" maxOccurs="unbounded"></xs:element>
            </xs:choice>
            <xs:element name="publisher" type="xs:string" minOccurs="1"></xs:element>
            <xs:element name="year" type="xs:date"  minOccurs="1"></xs:element>

            <xs:element name="abstract" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="edition" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
            <xs:element name="ISBN" type="xs:integer" minOccurs="0" maxOccurs="1"></xs:element>
        </xs:sequence>
        <xs:attribute name="genre">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="(thriller|horror|sci/fi|romance|literature)"></xs:pattern>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

    </xs:complexType>
    <!-- end of the leisure book  complex element-->
    <!-- periodicals -->
    <xs:complexType name="periodicals">
        <xs:sequence>
        <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
        <xs:element name="price" type="xs:float" minOccurs="1" maxOccurs="1"></xs:element>
        <xs:element name="publisher" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
      </xs:sequence>
    </xs:complexType>
    
    <!-- Bookshop -->
    <xs:element name="bookshop">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="departmentScientific" type="department_scientific"  minOccurs="1" maxOccurs="1"></xs:element>
                <xs:element name="departmentLeisure" type="department_leisure" minOccurs="1" maxOccurs="1"></xs:element>
              </xs:sequence>
        </xs:complexType>
    </xs:element>
  

</xs:schema> 